@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Nunito-Sans-300.eot"); /* IE9 */
  src: url("../fonts/Nunito-Sans-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Nunito-Sans-300.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/Nunito-Sans-300.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Nunito-Sans-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Nunito-Sans-300.svg#NunitoSans")
      format("svg"); /* Legacy iOS */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* petit reset minimal de base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* On normalise la taille d'écriture sur l'élément html (root) à 10px. Donc 1rem = 10px */
  font-size: 62.5%;

  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  tab-size: 4;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* On remet la taille de la police d'écriture à 16px, vu que 1rem = 10px, 1.6rem = 16px. Donc par rapport au body 1em = 16px */
  font-size: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: #131418;
  background-color: #efefef;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Preventing Text Overflow */
h1,
h2,
h3,
h4,
h5,
p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.logo {
  width: 2em;
  background-color: white;
  display: inline;
}

#contact {
  display: flex;
  background-color: #151a2d;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  color: white;
  margin: 0px 15px;
}

#logo-email {
  background-color: red;
}

#logo-phone {
  background-color: #234b7c;
}

#nav-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px 15px;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: "Nunito Sans";
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: #5f9df7;
  margin-left: 10px;
}

ul li {
  margin-right: 10px;
}

#home-page {
  font-family: "Nunito Sans";
  height: 500px;
  margin: 0 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

#colonne-1 {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

#colonne-2 {
  font-size: 1.1em;
}

#colonne-3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 30px;
}

#home-page-img {
  width: 463px;
  position: absolute;
  top: 51%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  /* border: solid 2px yellow; */
  margin-right: 15%;
  margin-left: 15%;
  font-family: "Nunito Sans";
}

#fc {
  background-color: #dedede;
  border: 3px solid yellow;
}

#c3-p2 {
  padding-right: 9%;
  text-align: center;
}

#c1-p2 {
  font-size: 0.7em;
  padding-right: 10em;
  padding-bottom: 1rem;
}

.sub-container1 {
  display: flex;
  flex-wrap: wrap;
  margin: 96px auto;
  border: 3px solid greenyellow;
}

#first-bar {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.bar {
  background-color: #151a2d;
  border: 1px solid red;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: start;
  height: 70px;
  padding-left: 20px;
  font-size: larger;
  font-weight: bold;
}

#b1 {
  color: red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#b2 {
  color: orange;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#b3 {
  color: #2d8ae9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#hcihy {
  width: 57%;
  margin-left: 3%;
}

#l1 {
  background-color: red;
}

#l2 {
  background-color: orange;
}

#l3 {
  background-color: #2d8ae9;
}

.bar:hover {
  cursor: pointer;
}

.bar:active {
  background-color: black;
}

.sub-container2 {
  border: 3px solid greenyellow;
  display: flex;
  flex-wrap: wrap;
  margin: 96px auto;
}

#jsudwp {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 3em 1rem;
}

#img2 {
  width: 38%;
  margin-left: 2%;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-container-title {
  text-align: center;
  color: #3a5f67;
}

.subtitle {
  text-align: center;
  font-size: 1.2em;
}

.sub-container3 {
  /* border: 3px solid greenyellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 96px;
}

.img-li {
  width: 5.4em;
  display: flex;
}

#ddc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 50%;
}

#ced {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 50%;
}

#cecg {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ul-flex {
  display: flex;     
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 100%;
}

.sub-li {
  font-style: italic;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  display: flex;
  margin-left: 2.7rem;
}

.sb3-li {
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
}

.logo2 {
  width: 1.9rem;
  display: flex;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 3rem;
  font-weight: 750;
}

.img-li2 {
  width: 2.5em;
  display: flex;
}

.sub-container4 {
  display: flex;
  /* border: 3px solid greenyellow; */
  margin: 32px auto 46px auto;
  gap: 1em;
}

#f1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  flex-wrap: wrap;
  width: 33%;
  flex-grow: 1;
  border-radius: 0.5rem;
  padding-top: 2rem;
}

#f2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 33%;
  flex-grow: 1;
  padding-top: 2rem;
  border-radius: 0.5rem;
}

#f3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 33%;
  flex-grow: 1;
  padding-top: 2rem;
  border-radius: 0.5rem;
}

.certif {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #e7e7e7;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.fa {
  text-decoration: none;
  color: red;
}

.certif-button {
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgb(3, 3, 49);
}

.certif a {
  color: rgb(0, 153, 255);
  font-size: 1.4rem;
}

.f-title {
  font-size: 1.2em;
  color: #3a5f67;
  font-weight: bold;
}

.f-subtitle {
  font-weight: bold;
}

#cv {
  display: flex;
  text-decoration: none;
  color: rgb(201, 27, 27);
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 50px;
}
